@model List<QLTV.Models.Brand>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_LayoutPage1.cshtml";
}

<h2>Brand</h2>
<table class="table">
    <tr>
        <th>Brand Id</th>
        <th>Brand Name</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.BrandId</td>
                    <td>@item.BrandName</td>
                </tr>
            }
</table>

